/* Este arquivo serve para "resetar" ou "normalizar" os estilos padrão que os navegadores aplicam aos elementos HTML. */
/* Isso garante uma base consistente para começar a estilizar, evitando diferenças visuais entre navegadores. */

/* O seletor universal (*) aplica estas regras a TODOS os elementos da página. */
* {
  margin: 0; /* Remove todas as margens externas padrão. */
  padding: 0; /* Remove todas as margens internas. */
  box-sizing: border-box; 
}

/* Aplica estilos aos elementos raiz do documento. */
html,
body {
  height: 100%; /* Garante que o corpo e o html ocupem 100% da altura da tela. */
  width: 100%; /* Garante que o corpo e o html ocupem 100% da largura da tela. */
  font-family: sans-serif; /* Define uma fonte padrão sem serifa para todo o documento, para um visual limpo e moderno. */
}

/* Regras para elementos de mídia, garantindo que sejam responsivos por padrão. */
img,
picture,
video,
canvas,
svg {
  display: block; /* Trata esses elementos como blocos. */
  max-width: 100%; /* Impede que o elemento de mídia seja maior que seu contêiner,. */
}

/* Garante que os campos de formulário herdem os estilos de fonte do restante da página. */
input,
button,
textarea,
select {
  font: inherit; /* Faz com que esses elementos usem a mesma fonte que o seu elemento pai, em vez da fonte padrão do navegador. */
}

/* Reseta o estilo padrão dos links. */
a {
  text-decoration: none; /* Remove o sublinhado padrão dos links. */
  color: inherit; /* Faz com que o link herde a cor do texto do seu elemento pai, em vez de ser azul/roxo por padrão. */
}

/* Remove os marcadores padrão de listas. */
ul,
ol {
  list-style: none; /* Remove as bolinhas das listas não ordenadas e os números (1, 2, 3) das listas ordenadas. */
}

/* Reseta o estilo padrão dos botões. */
button {
  border: none; /* Remove a borda padrão. */
  background: none; /* Remove o fundo padrão. */
  cursor: pointer; /* Garante que o cursor do mouse vire uma "mãozinha" ao passar sobre o botão, indicando que é clicável. */
}
