/*Código de resposividade tela inicial*/
@media (max-width: 1280px) {

    /*===Configuração da responsividade da página index==*/
    .section-caixas_servicos {
        gap: 50px;
        flex-wrap: wrap;
        padding: 0 20px;
    }

}

/*Adapta a página para telas de até 1120 pixels*/
@media (max-width: 1120px) {

    /*===Configuração da responsividade da página index==*/
    header {
        padding: 20px 40px;
    }

    .header-titulo {
        font-size: 1.8em;
    }

    .main-nav {
        gap: 15px;
    }

    .section-inicio {
        height: 63vh;
    }

    .section-inicio_titulo {
        font-size: 4rem;
        padding: 120px 0 24px;
    }

        .caixa-produtos {
        gap: 20px; 
        padding: 0 20px; 
}

/*Adapta a página para telas médias como tablets ou modo de rotação*/
@media (max-width: 920px) {
    .header-titulo {
        font-size: 1.6em;
    }

    .section-inicio_titulo {
        font-size: 3em;
    }

    .mapa-iframe {
        width: 50%;
        height: 150px;
    }

        .main-produtos {
        padding-top: 120px; 
    }

    .produtos {
        width: 320px;
    }
}



/*Adapta a página para telas de até 445 pixels, celulares de tamanho normal s20, Iphone 14 e semelhantes*/

@media (max-width: 445px) {

    /*===Configuração da responsividade da página index==*/
    .section-inicio_titulo {
        font-size: 1.6em;
    }

    .section-inicio_subtitulo {
        font-size: 1.1em;
        font-weight: 200;
        padding-inline: 45px;
    }

    .section-inicio_botao {
        font-size: large;
    }

    .section-caixa_servicos__filho {
        width: 300px;
        height: 490px;
        font-size: small;
    }

    /*===Configuração da responsividade da página sobre==*/
    .main-sobre {
        padding-top: 80px;
        /* Cabeçalho mobile geralmente é menor */
    }

    .section-sobre {
        padding: 2em 1.5em;
        margin: 5px;
    }

    .sobre-conteudo {
        padding: 2em;
    }

    .sobre-conteudo ul li {
        padding-left: 2em;
        font-size: 0.95em;
    }

    .sobre-conteudo ul li:hover {
        padding-left: 2.5em;
    }

    .texto-final_subtitulo {
        font-size: 1em;
    }

        .main-produtos {
        padding-top: 100px;
    }

    .id-produtos {
        font-size: 1.5em; 
    }

    .caixa-produtos {
        flex-direction: column; 
        align-items: center;
        gap: 30px; 
    }

    .produtos {
        width: 90%;
        height: auto;
        min-height: 510px; 
    }

    .titulo-produto {
        font-size: 1.1em;
    }

    .descricao-produto {
        font-size: 1.3em;
    }

    .botao-comprar_texto {
        font-size: 1.3em; 
    }
}



/*Adapta a página para telas de celular pequenos (iphone 5 ou semelhantes) ou legados*/
@media (max-width: 330px) {

    /*===Configuração da responsividade da página index==*/
    .header-titulo {
        font-size: 1em;
    }

    .section-inicio {
        height: 70vh;
    }

    .section-inicio_subtitulo {
        display: none;
        padding: 50px;
    }

    .section-caixa_servicos__filho {
        font-weight: lighter;

    }

    .caixa-servicos_traco {
        margin: 20px auto 0px;
        width: 110px;
        height: 6px;
        background-color: #EAB308;
        border-radius: 16px;
    }

    /*===Configuração da responsividade da página sobre==*/
    .main-sobre {
        padding-top: 70px;
        /* Ainda menor para telas muito pequenas */
    }

    .section-sobre {
        padding: 1.5em 1em;
    }

    .sobre-conteudo {
        padding: 1.5em;
    }

    .texto-final {
        padding: 2rem 1.5em;
    }

}
}